
body{
height: 1480px;
width: 1440px;
background: #FFFFFF;
}
 .download_app{
  position: absolute;
  height: 500px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #ED4C5C;

}
     .text_content_title {
     position: absolute;
     height: 107px;
     width: 445px;
     left: 165px;
     top: 122px;
     font-family: Lato;
     font-size: 36px;
     line-height: 43px;
     font-weight: 600;
     font-style: normal;
     color: #FFFFFF;
}
     .content_text {
     position: absolute;
     width: 445px;
     height: 64px;
     left: 165px;
     top: 253px;
     font-family: Lato;
     font-size: 14px;
     line-height: 140%;
     text-align: justify;
     color: #FFFFFF;
}
     .photo1 { 
     position: absolute;
     height: 311px;
     width: 533px;
     left: 691px;
     top: 94px;
     border-radius: 15px;
}

     .icon_1 {
     position: absolute;
     margin: 357px 1245px 111px 163px;

}
     .icon_2 {
     position: absolute;
     margin: 357px 1190px 111px 218px;

}
     .icon_3 {
     position: absolute;
     margin: 361px 1143px 115px 273px;
     }
 .contact_box {
 position: absolute;
 top: 500px;
 width: 1440px;
 height: 500px;
 left: 0px;
    }
    
    
    .content_contact {
        position: absolute;
        width: 445px;
        height: 107px;
        margin: 117px 819px 276px 176px;
        font-family: Lato;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
    }
    
    .content_text2 {
        position: absolute;
        width: 434px;
        height: 64px;
        margin: 213px 813px 223px 176px;
        font-family: Lato;
        font-size: 14px;
        line-height: 140%;
        text-align: justify;
        color: #000000;
    }
    
    .content_form {
        position: absolute;
        width: 540px;
        height: 305px;
        margin: 117px 165px 78px 735px;
        background-color: silver;
    }
    
    .last {
        position: absolute;
        width: 255px;
        height: 60px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 117px 165px 323px 1020px;
        padding: 21px 149px 20px 31px;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: rgba(19, 39, 67, 0.5);
    }
    
    .first {
        position: absolute;
        width: 255px;
        height: 60px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 117px 450px 323px 735px;
        padding: 21px 146px 20px 31px;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: rgba(19, 39, 67, 0.5);
    }
    
    .phone {
        position: absolute;
        width: 540px;
        height: 60px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 201px 165px 239px 735px;
        padding: 21px 403px 20px 31px;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: rgba(19, 39, 67, 0.5);
    }
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input,
    select {
        outline: 0px;
    }
    
    .selected {
        position: absolute;
        width: 540px;
        height: 60px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 285px 165px 155px 735px;
        padding: 21px 4px 20px 31px;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: rgba(19, 39, 67, 0.5);
    }
    
    select {
        background: url(images/icon-4.svg) no-repeat right #ffffff;
        -webkit-appearance: none;
        background-position-x: 95%;
    }
    
    .select-img {
        position: absolute;
        margin: 308px 191px 178px 1235px;
    }
    
    .submit {
        position: absolute;
        width: 160px;
        height: 50px;
        background: #ED4C5C;
        border: 1.5px solid #ED4C5C;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 372px 545px 78px 735px;
        padding: 17px 34px;
        font-family: Lato;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
 .footer {
 position: absolute;
 top: 1000px;
 width: 1440px;
 height: 435px;
 left: 0px;
 
     }
    .group_4 {
        position: absolute;
        width: 259px;
        height: 264px;
        margin: 85px 1020px 86px 161px;
    }     
    .address_title {
        position: absolute;
        width: 65px;
        height: 22px;
        font-family: Lato;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #101010;
        margin: 0px 189px 242px 5px;
    }
    .address_text {
        position: absolute;
        width: 254px;
        height: 54px;
        font-family: Lato;
        font-size: 12px;
        line-height: 150%;
        color: #101010;
        margin: 55px 0px 155px 5px;
    }
    .group_5 {
        position: absolute;
        width: 254px;
        height: 164px;
        margin: 85px 736px 186px 460px;

    }
    .services_title {
        position: absolute;
        width: 67px;
        height: 22px;
        font-family: Lato;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #101010;
        margin: 0px 187px 142px 0px;
    }
    .services_text {
        position: absolute;
        width: 254px;
        height: 114px;
        font-family: Lato;
        font-size: 12px;
        line-height: 160%;
        text-transform: capitalize;
        color: #000000;
        margin-top: 50px;
    }
.group_6 {
position: absolute;
margin: 85px 584px 222px 734px;
       }
    .get-in-touch-title {
        position: absolute;
        width: 101px;
        height: 22px;
        font-family: Lato;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #101010;
        margin: 0px 21px 106px 0px;
    }
    .contacts-link {
        position: absolute;
        width: 122px;
        height: 14px;
        font-family: Lato;
        font-size: 12px;
        line-height: 14px;
        color: #101010;
        margin: 55px 0px 59px;
    }
    .contacts-tel {
        position: absolute;
        width: 96px;
        height: 14px;
        font-family: Lato;
        font-size: 12px;
        line-height: 14px;
        color: #121212;
        margin: 80px 26px 34px 0px;
    }
    .icon-1 {
        position: absolute;
        margin: 115.17px 111.5px 1.17px 4.08px;
    }
    
    .icon-2 {
        position: absolute;
        margin: 115.17px 92.5px 1.64px 27.17px;
    }
    
    .icon-3 {
        position: absolute;
        margin: 115.74px 56.58px 1.79px 52.58px;
    }

.group_7 {
 position: absolute;
 width: 100px;
 height: 22px;
 font-family: Lato;
 font-weight: bold;
 font-size: 18px;
 line-height: 22px;
 color: #101010;
 margin: 85px 322px 328px 1022px;     
}
.img {
    position: absolute;
    width: 216px;
    height: 31px;
    margin: 140px 1028px;
}
.element_copyright {
    position: absolute;
    width: 155px;
    height: 14px;
    margin: 335px 1124px 86px 161px;
}

.copyright-text {
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}